.g_5,
.g_10,
.g_15,
.g_20,
.g_25,
.g_30,
.g_35,
.g_40,
.g_45,
.g_50,
.g_55,
.g_60,
.g_65,
.g_70,
.g_75,
.g_80,
.g_85,
.g_90,
.g_95,
.g_100 {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gutter .g_5,
.gutter .g_10,
.gutter .g_15,
.gutter .g_20,
.gutter .g_25,
.gutter .g_30,
.gutter .g_35,
.gutter .g_40,
.gutter .g_45,
.gutter .g_50,
.gutter .g_55,
.gutter .g_60,
.gutter .g_65,
.gutter .g_70,
.gutter .g_75,
.gutter .g_80,
.gutter .g_85,
.gutter .g_90,
.gutter .g_95,
.gutter .g_100 {
    padding: 5px;
}

@media all and (min-width:480px) {
    .grid {
        letter-spacing: -0.31em;
        *letter-spacing: normal;
        word-spacing: -0.43em;
    }
    .g_5,
    .g_10,
    .g_15,
    .g_20,
    .g_25,
    .g_30,
    .g_35,
    .g_40,
    .g_45,
    .g_50,
    .g_55,
    .g_60,
    .g_65,
    .g_70,
    .g_75,
    .g_80,
    .g_85,
    .g_90,
    .g_95,
    .g_100 {
        display: inline-block;
        vertical-align: top;
        letter-spacing: normal;
        word-spacing: normal;
        margin: 0;
    }
    .g_5   { width: 5%; }
    .g_10  { width: 10%; }
    .g_15  { width: 15%; }
    .g_20  { width: 20%; }
    .g_25  { width: 25%; }
    .g_30  { width: 30%; }
    .g_35  { width: 35%; }
    .g_40  { width: 40%; }
    .g_45  { width: 45%; }
    .g_50  { width: 50%; }
    .g_55  { width: 55%; }
    .g_60  { width: 60%; }
    .g_65  { width: 65%; }
    .g_70  { width: 70%; }
    .g_75  { width: 75%; }
    .g_80  { width: 80%; }
    .g_85  { width: 85%; }
    .g_90  { width: 90%; }
    .g_95  { width: 95%; }
    .g_100 { width: 100%; }

}
