@import '_settings.scss';

.grid {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
}

.#{$grid-class-prefix}-cont {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0;
    @include box-sizing(border-box);
}

@each $i in $percentage-steps {
    $percentage-step: 100/$i;
    @for $j from 1 through $i {

        $suffix: if($j > 1, floor($j * $percentage-step), round($percentage-step));
        .#{$grid-class-prefix}-#{$suffix}  {
            @extend .#{$grid-class-prefix}-cont;
        }
        .#{$grid-class-prefix}-#{$suffix} {
            width: percentage(($j * $percentage-step) / 100);
        }
    }
}

