@import '_settings.scss';

.grid {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
}

.#{$grid-class-prefix}-cont {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0;
    @include box-sizing(border-box);
}

@for $i from 1 through 100 / $percentage-step {
    .#{$grid-class-prefix}-#{$i * $percentage-step} {
        @extend .#{$grid-class-prefix}-cont;
    }
}

@for $i from 1 through 100 / $percentage-step{
    .#{$grid-class-prefix}-#{$i * $percentage-step} {
        width: 1% * ($i * $percentage-step);
    }
}
