@import 'compass/css3';
@import 'compass/utilities/general/clearfix';
@import '_settings.scss';
@import '_utils.scss';

// Supply a generally useful clearfix class.
.clearfix {
    @include pie-clearfix;
}

// Remove white-space from grid elements so there's
// no need to cuddle inline-block elements
// using monospace font provides a reliable + consistent value
// TODO: Test this is true.
.grid {
    font-family: "Courier New", monospace;
    letter-spacing: -0.65em;
    word-spacing:-0.65em; 
    @include box-sizing(border-box);
}

// Offset the grid when the gutter is enabled
// So there's no left/right gutter for first
// and last elements in a given row.
.grid.gutter {
    margin: 0 -5px;
}

// When gutter class is added to the grid container
// this rule adds that padding to all the grid elems
// within.
.gutter *[class*="#{$grid-class-prefix}-"] {
    padding: $gutter / 2;
}

// Set the scene for using inline-block
// box sizing (ie8+) ensures that padding directly
// on the grid components won't affect the widths.
.#{$grid-class-prefix}-cont {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0;
    @include box-sizing(border-box);
    font-family: $font-family;
    width: 100%;
}

// Generate the shared rules for all of the standard classes.
@each $i in $percentage-steps {
    $prefix: #{$grid-class-prefix};
    $suffix: floor($i);
    .#{$prefix}-#{$suffix}  {
        @extend .#{$grid-class-prefix}-cont;
    }
}

// Defaults widths for standard classes
@include respond-to(nth($M, 2)) {
    @each $i in $percentage-steps {
        $prefix: #{$grid-class-prefix};
        $suffix: floor($i);
        .#{$prefix}-#{$suffix} {
            width: percentage($i)/100;
        }
    }
}

// The rest
@each $k in $breakpoint_prefixes {
    @include respond-to(nth($k, 2), nth($k, 3)) {
        @each $i in $percentage-steps {
            $prefix: #{$grid-class-prefix};
            $suffix: floor($i);
            .#{nth($k, 1)}-#{$prefix}-#{$suffix} {
                width: percentage($i)/100;
            }
        }
    }
}


