@import 'compass/css3';
@import 'compass/utilities/general/clearfix';
@import '_settings.scss';

.clearfix {
    @include clearfix;
}

.grid {
    width: 100%;
}

.#{$grid-class-prefix}-cont {
    display: block;
}

.gutter-#{$grid-class-prefix}-cont {
    padding: $gutter / 2;
}

.gutter .#{$grid-class-prefix}-cont {
    @extend .gutter-#{$grid-class-prefix}-cont;
}

@each $i in $percentage-steps {
    $percentage-step: 100 / $i;
    @for $j from 1 through $i {
        $suffix: if($j > 1, floor($j * $percentage-step), round($percentage-step));
        .gutter .#{$grid-class-prefix}-#{$suffix}  {
            @extend .gutter-#{$grid-class-prefix}-cont;
        }
        .#{$grid-class-prefix}-#{$suffix} {
            @extend .#{$grid-class-prefix}-cont;
        }

    }
}

