@import 'compass/css3';
@import 'compass/utilities/general/clearfix';
@import '_settings.scss';

.clearfix {
    @include clearfix;
}

.grid {
    width: 100%;
}

.#{$grid-class-prefix}-cont {
    display: block;
}

.gutter-#{$grid-class-prefix}-cont {
    padding: $gutter / 2;
}

.gutter .#{$grid-class-prefix}-cont {
    @extend .gutter-#{$grid-class-prefix}-cont;
}

@for $i from 1 through 100 / $percentage-step {
    .#{$grid-class-prefix}-#{$i * $percentage-step} {
        @extend .#{$grid-class-prefix}-cont;
    }
}

@for $i from 1 through 100 / $percentage-step{
    .gutter .#{$grid-class-prefix}-#{$i * $percentage-step}  {
        @extend .gutter-#{$grid-class-prefix}-cont;
    }
}

