/* Non-media query set-up for IE < 9 and other UAs which don't support media queries */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.grid {
  font-family: "Courier New", monospace;
  letter-spacing: -0.65em;
  word-spacing: -0.65em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.grid.gutter {
  margin: 0 -5px;
}

.gutter *[class*="g-"] {
  padding: 5px;
}

.g-cont, .g-5, .g-10, .g-15, .g-20, .g-25, .g-30, .g-33, .g-35, .g-40, .g-45, .g-50, .g-55, .g-60, .g-65, .g-66, .g-70, .g-75, .g-80, .g-85, .g-90, .g-95, .g-100 {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
  width: 100%;
}

.g-5 {
  width: 5%;
}

.g-10 {
  width: 10%;
}

.g-15 {
  width: 15%;
}

.g-20 {
  width: 20%;
}

.g-25 {
  width: 25%;
}

.g-30 {
  width: 30%;
}

.g-33 {
  width: 33.3333%;
}

.g-35 {
  width: 35%;
}

.g-40 {
  width: 40%;
}

.g-45 {
  width: 45%;
}

.g-50 {
  width: 50%;
}

.g-55 {
  width: 55%;
}

.g-60 {
  width: 60%;
}

.g-65 {
  width: 65%;
}

.g-66 {
  width: 66.6667%;
}

.g-70 {
  width: 70%;
}

.g-75 {
  width: 75%;
}

.g-80 {
  width: 80%;
}

.g-85 {
  width: 85%;
}

.g-90 {
  width: 90%;
}

.g-95 {
  width: 95%;
}

.g-100 {
  width: 100%;
}

.l-g-5 {
  width: 5%;
}

.l-g-10 {
  width: 10%;
}

.l-g-15 {
  width: 15%;
}

.l-g-20 {
  width: 20%;
}

.l-g-25 {
  width: 25%;
}

.l-g-30 {
  width: 30%;
}

.l-g-33 {
  width: 33.3333%;
}

.l-g-35 {
  width: 35%;
}

.l-g-40 {
  width: 40%;
}

.l-g-45 {
  width: 45%;
}

.l-g-50 {
  width: 50%;
}

.l-g-55 {
  width: 55%;
}

.l-g-60 {
  width: 60%;
}

.l-g-65 {
  width: 65%;
}

.l-g-66 {
  width: 66.6667%;
}

.l-g-70 {
  width: 70%;
}

.l-g-75 {
  width: 75%;
}

.l-g-80 {
  width: 80%;
}

.l-g-85 {
  width: 85%;
}

.l-g-90 {
  width: 90%;
}

.l-g-95 {
  width: 95%;
}

.l-g-100 {
  width: 100%;
}

.xl-g-5 {
  width: 5%;
}

.xl-g-10 {
  width: 10%;
}

.xl-g-15 {
  width: 15%;
}

.xl-g-20 {
  width: 20%;
}

.xl-g-25 {
  width: 25%;
}

.xl-g-30 {
  width: 30%;
}

.xl-g-33 {
  width: 33.3333%;
}

.xl-g-35 {
  width: 35%;
}

.xl-g-40 {
  width: 40%;
}

.xl-g-45 {
  width: 45%;
}

.xl-g-50 {
  width: 50%;
}

.xl-g-55 {
  width: 55%;
}

.xl-g-60 {
  width: 60%;
}

.xl-g-65 {
  width: 65%;
}

.xl-g-66 {
  width: 66.6667%;
}

.xl-g-70 {
  width: 70%;
}

.xl-g-75 {
  width: 75%;
}

.xl-g-80 {
  width: 80%;
}

.xl-g-85 {
  width: 85%;
}

.xl-g-90 {
  width: 90%;
}

.xl-g-95 {
  width: 95%;
}

.xl-g-100 {
  width: 100%;
}
