/* line 7, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1; }

/* line 15, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
.grid {
  font-family: "Courier New", monospace;
  letter-spacing: -0.65em;
  word-spacing: -0.65em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 25, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
.grid.gutter {
  margin: 0 -5px; }

/* line 32, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
.gutter *[class*="g-"] {
  padding: 5px; }

/* line 39, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
.g-cont, .g-5, .g-10, .g-15, .g-20, .g-25, .g-30, .g-33, .g-35, .g-40, .g-45, .g-50, .g-55, .g-60, .g-65, .g-66, .g-70, .g-75, .g-80, .g-85, .g-90, .g-95, .g-100 {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
  width: 100%; }

@media screen and (min-width: 480px) {
  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-5 {
    width: 5%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-10 {
    width: 10%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-15 {
    width: 15%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-20 {
    width: 20%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-25 {
    width: 25%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-30 {
    width: 30%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-33 {
    width: 33.3333%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-35 {
    width: 35%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-40 {
    width: 40%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-45 {
    width: 45%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-50 {
    width: 50%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-55 {
    width: 55%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-60 {
    width: 60%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-65 {
    width: 65%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-66 {
    width: 66.6667%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-70 {
    width: 70%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-75 {
    width: 75%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-80 {
    width: 80%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-85 {
    width: 85%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-90 {
    width: 90%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-95 {
    width: 95%; }

  /* line 64, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .g-100 {
    width: 100%; } }
@media screen and (min-width: 0) and (max-width: 480px) {
  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-5 {
    width: 5%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-10 {
    width: 10%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-15 {
    width: 15%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-20 {
    width: 20%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-25 {
    width: 25%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-30 {
    width: 30%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-33 {
    width: 33.3333%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-35 {
    width: 35%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-40 {
    width: 40%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-45 {
    width: 45%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-50 {
    width: 50%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-55 {
    width: 55%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-60 {
    width: 60%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-65 {
    width: 65%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-66 {
    width: 66.6667%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-70 {
    width: 70%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-75 {
    width: 75%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-80 {
    width: 80%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-85 {
    width: 85%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-90 {
    width: 90%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-95 {
    width: 95%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .s-g-100 {
    width: 100%; } }
@media screen and (min-width: 480px) and (max-width: 720px) {
  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-5 {
    width: 5%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-10 {
    width: 10%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-15 {
    width: 15%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-20 {
    width: 20%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-25 {
    width: 25%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-30 {
    width: 30%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-33 {
    width: 33.3333%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-35 {
    width: 35%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-40 {
    width: 40%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-45 {
    width: 45%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-50 {
    width: 50%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-55 {
    width: 55%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-60 {
    width: 60%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-65 {
    width: 65%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-66 {
    width: 66.6667%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-70 {
    width: 70%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-75 {
    width: 75%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-80 {
    width: 80%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-85 {
    width: 85%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-90 {
    width: 90%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-95 {
    width: 95%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .m-g-100 {
    width: 100%; } }
@media screen and (min-width: 720px) and (max-width: 960px) {
  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-5 {
    width: 5%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-10 {
    width: 10%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-15 {
    width: 15%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-20 {
    width: 20%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-25 {
    width: 25%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-30 {
    width: 30%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-33 {
    width: 33.3333%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-35 {
    width: 35%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-40 {
    width: 40%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-45 {
    width: 45%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-50 {
    width: 50%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-55 {
    width: 55%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-60 {
    width: 60%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-65 {
    width: 65%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-66 {
    width: 66.6667%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-70 {
    width: 70%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-75 {
    width: 75%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-80 {
    width: 80%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-85 {
    width: 85%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-90 {
    width: 90%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-95 {
    width: 95%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .l-g-100 {
    width: 100%; } }
@media screen and (min-width: 960px) and (max-width: 1280px) {
  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-5 {
    width: 5%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-10 {
    width: 10%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-15 {
    width: 15%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-20 {
    width: 20%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-25 {
    width: 25%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-30 {
    width: 30%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-33 {
    width: 33.3333%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-35 {
    width: 35%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-40 {
    width: 40%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-45 {
    width: 45%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-50 {
    width: 50%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-55 {
    width: 55%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-60 {
    width: 60%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-65 {
    width: 65%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-66 {
    width: 66.6667%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-70 {
    width: 70%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-75 {
    width: 75%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-80 {
    width: 80%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-85 {
    width: 85%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-90 {
    width: 90%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-95 {
    width: 95%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xl-g-100 {
    width: 100%; } }
@media screen and (min-width: 1280px) {
  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-5 {
    width: 5%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-10 {
    width: 10%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-15 {
    width: 15%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-20 {
    width: 20%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-25 {
    width: 25%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-30 {
    width: 30%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-33 {
    width: 33.3333%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-35 {
    width: 35%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-40 {
    width: 40%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-45 {
    width: 45%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-50 {
    width: 50%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-55 {
    width: 55%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-60 {
    width: 60%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-65 {
    width: 65%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-66 {
    width: 66.6667%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-70 {
    width: 70%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-75 {
    width: 75%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-80 {
    width: 80%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-85 {
    width: 85%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-90 {
    width: 90%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-95 {
    width: 95%; }

  /* line 76, /home/scol/code/repos/git/griddles/scss/_griddles.scss */
  .xxl-g-100 {
    width: 100%; } }
