/* Non-media query set-up for IE < 9 and other UAs which don't support media queries */
/* line 24, ../../scss/_mobile.scss */
.gp-5, .gp-10, .gp-15, .gp-20, .gp-25, .gp-30, .gp-35, .gp-40, .gp-45, .gp-50, .gp-55, .gp-60, .gp-65, .gp-70, .gp-75, .gp-80, .gp-85, .gp-90, .gp-95, .gp-100 {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 47, ../../scss/_mobile.scss */
.gutter .gp-5, .gutter .gp-10, .gutter .gp-15, .gutter .gp-20, .gutter .gp-25, .gutter .gp-30, .gutter .gp-35, .gutter .gp-40, .gutter .gp-45, .gutter .gp-50, .gutter .gp-55, .gutter .gp-60, .gutter .gp-65, .gutter .gp-70, .gutter .gp-75, .gutter .gp-80, .gutter .gp-85, .gutter .gp-90, .gutter .gp-95, .gutter .gp-100 {
  padding: 5px; }

/* line 4, ../../scss/_desktop.scss */
.grid {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em; }

/* line 28, ../../scss/_desktop.scss */
.gp-5, .gp-10, .gp-15, .gp-20, .gp-25, .gp-30, .gp-35, .gp-40, .gp-45, .gp-50, .gp-55, .gp-60, .gp-65, .gp-70, .gp-75, .gp-80, .gp-85, .gp-90, .gp-95, .gp-100 {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 36, ../../scss/_desktop.scss */
.gp-5 {
  width: 5%; }

/* line 37, ../../scss/_desktop.scss */
.gp-10 {
  width: 10%; }

/* line 38, ../../scss/_desktop.scss */
.gp-15 {
  width: 15%; }

/* line 39, ../../scss/_desktop.scss */
.gp-20 {
  width: 20%; }

/* line 40, ../../scss/_desktop.scss */
.gp-25 {
  width: 25%; }

/* line 41, ../../scss/_desktop.scss */
.gp-30 {
  width: 30%; }

/* line 42, ../../scss/_desktop.scss */
.gp-35 {
  width: 35%; }

/* line 43, ../../scss/_desktop.scss */
.gp-40 {
  width: 40%; }

/* line 44, ../../scss/_desktop.scss */
.gp-45 {
  width: 45%; }

/* line 45, ../../scss/_desktop.scss */
.gp-50 {
  width: 50%; }

/* line 46, ../../scss/_desktop.scss */
.gp-55 {
  width: 55%; }

/* line 47, ../../scss/_desktop.scss */
.gp-60 {
  width: 60%; }

/* line 48, ../../scss/_desktop.scss */
.gp-65 {
  width: 65%; }

/* line 49, ../../scss/_desktop.scss */
.gp-70 {
  width: 70%; }

/* line 50, ../../scss/_desktop.scss */
.gp-75 {
  width: 75%; }

/* line 51, ../../scss/_desktop.scss */
.gp-80 {
  width: 80%; }

/* line 52, ../../scss/_desktop.scss */
.gp-85 {
  width: 85%; }

/* line 53, ../../scss/_desktop.scss */
.gp-90 {
  width: 90%; }

/* line 54, ../../scss/_desktop.scss */
.gp-95 {
  width: 95%; }

/* line 55, ../../scss/_desktop.scss */
.gp-100 {
  width: 100%; }
